:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog {
  top: 0;
  bottom: 0;
  margin-block: auto;
  padding: 0;
  transition: opacity 0.2s ease-out;
}

.dialog:modal {
  margin-inline: 2rem;
  width: calc(100% - 4rem);
  max-width: none;
  max-height: none;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-out;
}

.dialog.-closing {
  opacity: 0;
}

.dialog.-closing::backdrop {
  opacity: 0;
}

.dialog__content {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
